:root {
    --primary-black: #000;
}

* {
    list-style: none;
    text-decoration: none;
    color: var(--primary-black);
}

body {
    background-color: gray;
}

.header__logo {
    width: 10%;
}

.svgSettings {
    width: 20.000000pt;
    height: 20.000000pt;
}