:root {
    --primary-black: #000;
}

* {
    list-style: none;
    text-decoration: none;
    color: var(--primary-black);
}

body {
    background-color: blueviolet;
}

.header__logo {
    width: 10%;
}

.header__items {
    color: white;
}